<!DOCTYPE htnl>
<html>

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="/src//assets/css/style.scss"/>

</head>

<body>
    <div class="main-back height-100">
        <div class=" ">
            <div class="d-flex ">
                <img class="m-300 ml-auto" src="../../assets/images/logo1.png">
            </div>
            <div class="pt-4 mr-auto m-300">
                <img class="mr-auto" src="../../assets/images/logo1.png">
            </div>
        </div>
    </div>


    <div class="bg-dark w-468 border-20 m-auto">
        <div class="text-center">
            <div class="text-white p-3 font-30">Initialise Device</div>
        </div>
        <form class="custom_form" [formGroup]="loginForm" (ngSubmit)="checkUser()">
            <div class="p-3 text-center">
                <input type="id" #clientId formControlName="clientId" class="id"
                    style="width: 352px; height: 54px;  border: 0; border-radius: 7px;" (blur)="onKey(clientId.value)">
            </div>
       
            <mat-form-field appearance="fill">
                <!-- <mat-label>Initialise device </mat-label> -->
                <mat-select formControlName="eventVanue" >
                    <mat-option  *ngFor="let event of eventValue" [value]="event">{{event}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="text-center p-5">
                <button class="ok-button px-5" >ok</button>
            </div>

        </form>
    </div>


</body>

</html>