body {
	
	 padding: 0;
	 margin: 0;
	 max-width: 1080px;
	 margin: 0 auto;
}
* {
	box-sizing: border-box;
}
a:focus {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}



/*//////*/
.pt-6 {
	padding-top: 5px;
}
.height-100 {
	height: 100%;
}

.w-100 {
	width: 100%;
}
.w-50 {
	width: 50%;
}
/*//////*/

/*//////*/
.font-14 {
	font-size: 14px;
}
.font-16 {
	font-size: 16px;
}
.font-18 {
	font-size: 18px;
}
.font-20 {
	font-size: 20px;
}
.font-24 {
	font-size: 24px;
}
.font-30 {
	font-size: 30px;
}
.font-52 {
	font-size: 52px;
}
.font-40 {
	font-size: 40px;
}
.font-weight-800 {
	font-weight: 800;
}
.border-radius-5 {
	border-radius: 5px;
}
.bg-theme {
	background-color: #252c39;
}
/*/////////////////////////////////////*/

.m-40 {
	margin: 40px;
}
.height-1920 {
	height: 1920px;
}
/*//////*/
.button {
	background-color: black;
	border: 0;
	border-radius: 10px;
	color: white;
	padding: 10px 20px;
}

h3 {
	margin: 0;
}
.button-book {
	background-color: #663399;
	padding: 10px 20px;
	border: 0;
	border-radius: 5px;
	color: white;
}

.w-150{
	width: 150px;
}
.w-159 {
	width: 159px;
}
.m-300 {
	margin-top: 300px;
}
/*///////////////////// */




/*design css start*/
.main-back {
	background-image: radial-gradient(#67349a, #1D2F50);
}

.drop {
	text-align: end;
}
.drop-bt {
	background-color: #1F2633 !important;
    border-radius: 101px !important;
    border: 0 !important;
   /* padding-right 80px: !important; */
}
.bg {
	 background-image: url("../images/bg_img.jpg");
	  height: 384px;
	  background-repeat: no-repeat;
	  background-size: cover;
}
.book-tickets-box {
	background-color: #1F2633;
}
.box-p {
	padding: 20px 50px;
}
.text-end{
	text-align: end;	
}
.position {
	position: absolute;
    left: 35%;
    top: 50%;
}
.bg-black {
	background-color: black;
}
.login-box {
	position: absolute;
    top: 250px;
    left: 10px;
}
.w-468 {
	width: 468px;
}
.in-menu {
	background-color: #ffffff;
}
.padding-11 {
	padding: 11rem;
}
.p-50 {
	padding-right: 165px;
}
.pinpad {
	position: absolute;
	right: 405px;
    bottom: 60%;
}
.pinpad-box{
	position: absolute;
	top: 770px;
    left: 335px;
}
.white-box {
	background-color: white;
	width: 214px;
	height: 214px;
}
.posi {
	position: absolute;
    right: 39%;
    bottom: 30%;
}

.main{
    width: 1080px;
    height: 1920px;background-color: #663399;
     margin: auto;
}
.second-main-div{
    background-color: #252C39;
    width: 100%;
}
* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.border{
    border: 1px #663399;
    margin-bottom: 20px;
    width: 100%;
}

.text-white{
    color: white;
}
.month {
  padding: 70px 25px;
  width: 100%;
   text-align: center;
  width: 90%;
  margin: auto;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
  position: relative;
  top: 0px;
  right: 330px;
}

.month .next {
  float: right;
  padding-top: 10px;
  position: relative;
  top: 0px;
  right: 330px;
}

.weekdays {
  margin: auto;
  width: 90%;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
  margin: auto;
}

.days {
  padding: 10px 0;
  background: #5a338d;
  margin: auto;
  width: 90%;
  height: 280px;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: rgb(255, 255, 255);
  padding: 15px;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}
li:hover {
	background-color: rgb(128, 63, 212);
	color: white;
	border-radius: 5px;
}
.bordfer-box {
	border: 1px solid (128, 63, 212);
}
.modal-dialog {
	max-width: 50%;
}
.border {
	border: 1px solid purple;
}

@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}
/*design css close*/