<!DOCTYPE htnl>
<html>
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="/src/assets/css/style.css">

	<title></title>
</head>
<body>
    <div class="main-back height-100">      
    <div class="text-center">
        <img class="w-159 m-300" src="../../assets/images/pngwing.png">
    </div>

    
    <div class="bg-dark w-468 border-20 m-auto">
        <div class="text-center">
        <div class="text-white p-3 font-30">Pinpad Device</div>
    </div>
    <div class="p-3 text-center">
        <input type="id" class="id" style="width: 352px; height: 54px;  border: 0; border-radius: 7px;">    
    </div>
    <div class="p-3 text-center">
        <input type="id" class="id" style="width: 352px; height: 54px;  border: 0; border-radius: 7px;">    
    </div>
    <div class="text-center p-5">
        <button class="button-book px-5" style="width: 50%;" (click)="pairing()">ok</button>
    </div>
    </div>
    </div>
</body>
</html>