<div class="event_card_class" >
  <div class="card_img_div_class">
    <img [src]="img" class="card_img_class" alt="..." />
  </div>
  <div class="card_info_div_class">
    <p class="date_text_class">
      Date: 18th Dec, 2022 - Location: {{ location }}
    </p>
    <p class="event_name_text_class">PEI International Festival 2022</p>
    <p class="desc_text_class">
      Happy International Women’s Day! We’re celebrating the amazing women who
      have contributed to the success of the PEI international Shellfish
      Festival.
    </p>
    <button class="book_ticket_btn_class" (click)="handleBookBtnClick()">
      Book Ticket
    </button>
  </div>
</div>
