<!DOCTYPE htnl>
<html>
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

	<title></title>
</head>
<body>
    <div class="main-back height-100 position-relative" (click)="moveToTheLoginPage()">
       <!-- <div class="main-back height-100 position-relative" > -->
        <div class="d-flex float position">
            <div class="">
                <img class="w-150" src="../../assets/images/logo1.png">
            </div>
            <div class=" pt-5 float-right" >
                <img class="w-159" src="../../assets/images/logo_second.png">
            </div>
            <!-- <a routerLink="/login">login</a> -->
        </div>
    </div>
        
</body>
</html>







